<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>My Blog</title>-->
<!--</head>-->
<!--<body>-->
<!--    <header>-->
<!--        <nav>-->
<!--            <ul>-->
<!--               <li><a href="{% url 'oidc_authentication_init' %}">Login with Keycloak</a></li>-->
<!--                <li><a href="{% url 'oidc_logout' %}">Logout</a></li>-->

<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
<!--    <main>-->
<!--        {% block content %}-->
<!--        {% endblock %}-->
<!--    </main>-->
<!--</body>-->
<!--</html>-->
